.header{
    background-color: #2C2C2C;
    border-top: 5px solid gold;
    display: flex;
    width: 100%;
    height: 150px;
}

.header > img{
    display: block;
    width: 180px;
    height: 180px;
    position: absolute;
    left: 10vw;
    top: -10px;
}