.header{
    background-color: #2C2C2C;
    border-top: 5px solid gold;
    display: flex;
    width: 100vw;
    height: 150px;
}

img{
    display: block;
    width: 180px;
    height: 180px;
    position: absolute;
    left: 50px;
    top: -10px;
}