.header{
    background-color: #3C3C3C;
    border-top: 5px solid gold;
    display: flex;
    width: 100vw;
    height: 200px;
}

img{
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 80px;
    top: 20px;
}