.FrontPanel{
    background-color: #cccccc;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.FrontPanel h4{
    text-transform: uppercase;
    font-size: 40px;
    text-shadow: 0 0 5px grey;
    position: absolute;
    top: 100px;
    left: 20vw;
}

.FrontPanel h1{
    text-transform: uppercase;
    font-size: 100px;
    text-shadow: 0 0 10px grey;
    position: absolute;
    top: 100px;
    left: 15vw;
}

.FrontPanel span{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    left: 18vw;
    top: 300px;
}

.FrontPanel button{    
    text-transform: uppercase;
    background-color: gold;
    border: none;    
    position: absolute;
    left: 20vw;
    top: 390px;
}

.FrontPanel button a{
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 20px;
}

.FrontPanel img{
    display: block;
    width: 70vw;
    height: 80vh;
    position: absolute;
    left: 35%;
    top: -15px;
}



