.navigation{
    position: absolute;
    right: 10vw;
    width: 30vw;
    font-size: 25px;
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
}

ul{
    list-style-type: none;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

ul li{
    text-align: center;
}

a{
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover{
    border-bottom: 2px solid white;
}