.BMIcalc{
    background-color: #2C2C2C;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.BMIcalc h1{
    color: rgb(255, 187, 0);
    font-size: 60px;
    margin: 20px;
    text-shadow: 0 0 10px black;
}

.BMIcalc span{
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    font-size: 30px;
    display: flex;
    margin-bottom: 2%;
}

.BMIcalc span h3{
    width: 20%;
    margin: 0;
}

.BMIcalc span input{
    font-size: 20px;
    height: 30px;
    background-color: #cccccc;
    border: 2px solid rgb(255, 187, 0);
}

.BMIcalc .result{
    flex-direction: column;
}
.BMIcalc .result h3{
    width: 100%;
}

.BMIcalc button{
    font-family: 'Teko', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: gold;
    border: 3px solid rgb(255, 187, 0);
    font-size: 20px;
    padding: 10px;
    width: 100px;
    position: absolute;
    right: 20%;
    top: 70%;
    font-weight: 700;
}